.body {
   width: 100%;
   min-height: 200px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

@media (max-width:767px){
   .body {
      width: 100%;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
   }
 }

.payment-title {
   width: 100%;
   text-align: center;
 }
 
 .form-container .field-container:first-of-type {
   grid-area: name;
 }
 
 .form-container .field-container:nth-of-type(2) {
   grid-area: number;
 }
 
 .form-container .field-container:nth-of-type(3) {
   grid-area: expiration;
 }

#w {
   color: rgba(0, 0, 0, 0.0);
}
 
 .field-container input {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }
 
 .field-container {
   position: relative;
 }
 
 .form-container {
   display: grid;
   grid-column-gap: 10px;
   grid-template-columns: auto auto;
   grid-template-rows: 90px 90px 90px;
   grid-template-areas: "name name""number number""expiration expiration";
   max-width: 400px;
   padding: 20px;
   color: #707070;
 }
 
 label {
   padding-bottom: 5px;
   font-size: 13px;
 }
 
 input {
   margin-top: 3px;
   padding: 8px;
   font-size: 16px;
   width: 100%;
   border-radius: 3px;
   border: 1px solid #dcdcdc;
 }
 
 .ccicon {
   height: 38px;
   position: absolute;
   right: 6px;
   top: calc(50% - 17px);
   width: 60px;
 }
 
 .container {
   width: 100%;
   max-width: 400px;
   max-height: 251px;
   height: 54vw;
   padding: 20px;
 }
 
 #ccsingle {
   position: absolute;
   right: 15px;
   top: 20px;
 }
 
 #ccsingle svg {
   width: 100px;
   max-height: 60px;
 }
 
 .submit {
   transition: .3s ease-in-out;
 }

 .submit:hover {
   background: rgb(100, 224, 127);
 }